* {
  font-weight: 550;
}
header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

/* right side: icon and title */
#header-icon {
  width: 80px;
}

#header-title {
  margin-right: 6rem;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 2.5rem;
}

#header-title a:nth-child(2) {
  display: inline-block;
  font-size: 3.5rem;
  padding-right: 10px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

li {
  list-style: none;
}

nav {
  display: flex;
  gap: 80px;
  align-items: center;
}

#header-links ul {
  display: flex;
  gap: 40px;
}

#header-links a {
  transition: all 0.4s ease;
}

#header-links a:hover {
  color: #37ac5e;
}

button {
  font-size: 1.7rem;
  padding: 16px;
  background: linear-gradient(to right, #3faf57, #3faf57, #32aa60);
  border: none;
  border-radius: 8px;
  color: #000;
  transition: all 0.4s ease;
  margin-left: 20px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  color: #fff;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  #response-links {
  }
}

/* Media Query for Large screens
@media (min-width: 1281px) {
  
} */
